{
  "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules": {
      "generator-star-spacing": 0,
      "babel/generator-star-spacing": 1,
      "no-console": ["error", { allow: ["log", "warn", "error", "time", "timeEnd"] }],
      "no-use-before-define": ["error", { "functions": false, "classes": false }],
    },
    "plugins": [
      "babel"
    ]
}
